<% provide :title, @user.name %>
<div class="row">
  <div class="small-12 columns">
    <header>
      <h1>Profile</h1>
    </header>
    <hr>
  </div>
</div>
<div class="row">
  <div class="small-8 small-centered columns panel">
    <div class="row" data-equalizer>
      <div class="small-4 columns text-center" data-equalizer-watch>
        <%= gravatar_for @user, { size: 200 } %>
      </div>
      <div class="small-8 columns" data-equalizer-watch>
        <p><strong>Name:</strong> <%= @user.name %></p>
        <p><strong>Email:</strong> <%= @user.email %></p>
        <p><strong>Active:</strong> <%= @user.activated %></p>
        <div class="action-links">
          <%= link_to 'Edit', edit_user_path(@user) %> |
          <%= link_to 'Back', users_path %>
        </div>
      </div>
    </div>
  </div>
</div>
