<footer class="footer row">
  <div class="small-12 columns">
    <div class="icon-bar five-up">
      <%= link_to '#', class: 'item' do %>
        <i class="fi-torsos-all"></i>
        <label>Players</label>
      <% end %>
      <%= link_to '#', class: 'item' do %>
        <i class="fi-trophy"></i>
        <label>Standings</label>
      <% end %>
      <%= link_to '#', class: 'item' do %>
        <i class="fi-foot"></i>
        <label>Tournament</label>
      <% end %>
      <%= link_to help_path, class: 'item' do %>
        <i class="fi-info"></i>
        <label>Help</label>
      <% end %>
      <%= link_to '#', class: 'item' do %>
        <i class="fi-wrench"></i>
        <label>Admin</label>
      <% end %>
    </div>
  </div>
</footer>
